<div class="text-image">
    <kx-heading [text]="'Portrait'"></kx-heading>
    <div class="text-image__container">
        <kx-image [imgSrc]="'../../../assets/images/kalex-consulting-stage-image.jpg'" [imgAlt]="'Kalex Consulting Portrait'"></kx-image>
    </div>
    <span class="text-image__text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia esse saepe numquam aut sapiente provident repudiandae quam expedita nemo nesciunt, delectus iure optio eum adipisci! Sint voluptatum vitae omnis accusantium ipsum similique dicta cupiditate temporibus delectus placeat.
        <br><br>
        Culpa dolorem asperiores ut suscipit! Optio cum autem odio ipsam officia saepe commodi tenetur! Laborum nam consequuntur dicta commodi exercitationem sed quae blanditiis quo cum id molestiae quas, repellendus dolorum corrupti, delectus maxime quaerat, nihil ea sapiente. Facere voluptatem pariatur reprehenderit ullam architecto aperiam, labore repudiandae, accusamus magnam ipsum nemo repellendus molestias animi tempore quasi ratione a nesciunt corrupti!
        <br><br>
        Maiores sit quidem animi blanditiis tempore officiis distinctio consequatur at laboriosam cupiditate voluptas, quisquam vel dolor laudantium autem accusantium dignissimos, labore, aperiam ipsum pariatur? Non blanditiis minima aperiam cupiditate dignissimos error voluptatem nostrum. Ex assumenda porro modi voluptatibus hic velit aut, culpa veritatis deleniti cumque distinctio maiores tempora molestias rerum voluptatem quo cum laborum?
    </span>
</div>
