<div class="text-image">
    <kx-heading [anchor]="'portrait'" [text]="'Portrait'"></kx-heading>
    <div class="text-image__container">
        <kx-image [imgSrc]="'assets/images/kalex-consulting-stage-image.jpg'" [imgAlt]="'Kalex Consulting Portrait'"></kx-image>
    </div>
    <span class="text-image__text">
        Geboren wurde ich im Jahr 1987 in Jugoslawien kurz vor der Auflösung der Sozialistischen Volksrepublik. Mein Vater arbeitete bereits als Saisonarbeiter auf dem Bau.vor dem Kriegsausbruch zogen meine Mutter und ich nach.
        <br><br>
        Meine Schulzeit absolvierte ich in Gossau SG, wo ich auch die Lehre als Bauzeichner (Hoch- und Tiefbau) bei der Firma Wagner & Brühwiler AG erfolgreich abschloss. Anschliessend holte ich die Berufsmatur nach, um mir den Einstieg an eine Fachhochschule zu sichern.
        <br><br>
        Nach einem einjährigen Praktikum bei einem IT-Dienstleister in Zürich entschloss ich mich,Wirtschaftswissenschaften zu studieren. Dies jedoch berufsbegleitend, damit ich die kaufmännischen Instrumente und das erworbene Wissen im Studium zeitgleich in der Praxis anwenden kann. Als Vertiefungsrichtung wählte ich Unternehmensführung, weil ich rapid zum Schluss kam, dass für michdas Fördern und Fordern von Mitarbeitern eine essentielle Herzensangelegenheit ist. Ich liebe es, wenn ich merke, dass manals Team wächst und vorankommt. Kurz vor Studienende erhielt ich im selben IT-Unternehmen die Position als Innendienstleiter
        <br><br>
        Nach dem Studium entschied ich jedoch, die Einzelfirma meines Vaters auf Vordermann zu bringen. Beim Start galt es, einige Hindernisse zu bewätligen und ich musste oft auch selber auf dem Bau arbeiten, doch es war jede Mühe wert! Heute setzt die Kigips GmbH über 1 Mio. Franken um und ist lokal sehr gut vertreten und anerkannt. Unser bewährtes Motto lautet: Klasse statt Masse.
        <br><br>
        Ein Nachfolger für die Firma wurde intern gewählt, was zur Folge hat, dassmeine Arbeit getan ist. Nun bin ich auf der Suche nach einer neuen Herausforderung.
        <br><br>
        Den konstanten Zeit- und Leistungsdruck spüre ich extrem. Die Lohnhochburg Schweiz spürt den Druck ebenfalls von allen Seiten und daher möchte ich, zusammen mit Ihnen, eine alternative herausarbeiten.
    </span>
</div>
