@import "../../../../shared/utils/breakpoints/css/breakpoints.scss";
@import "../../../../shared/utils/colors/css/colors.scss";

.kx-hamburger {
    display: flex;
    flex-direction: column;
    height: 25px;
    justify-content: space-between;
    position: relative;
    width: 35px;

    @media (min-width: $mq-size-m) {
        display: none;
    }
}

.kx-hamburger__bar {
    background-color: $kx-blue;
    border-radius: 5px;
    display: block;
    height: 5px;
    left: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 100%;

    &:nth-child(1) {
        top: 0px;
    }

    &:nth-child(2) {
        top: 10px;
    }

    &:nth-child(3) {
        top: 20px;
    }
}

.state-kx-hamburger--open {
    .kx-hamburger__bar:nth-child(1) {
        top: 10px;
        transform: rotate(45deg);
    }

    .kx-hamburger__bar:nth-child(2) {
        opacity: 0;
        transform: scale(0.5);
    }

    .kx-hamburger__bar:nth-child(3) {
        top: 10px;
        transform: rotate(-45deg);
    }
}
