<div class="stage-header">
    <div class="container">
        <div class="row">
            <div class="col">
                <nav class="stage-header__nav">
                    <div class="stage-header__image">
                        <kx-image [imgSrc]="'../../../assets/images/kalex-consulting-logo-design.svg'" [imgAlt]="'Kalex Consulting Logo'"></kx-image>
                    </div>
                    <ul class="stage-header__nav-list">
                        <li class="stage-header__nav-list-item">Home</li>
                        <li class="stage-header__nav-list-item">Über mich</li>
                        <li class="stage-header__nav-list-item">Kontakt</li>
                    </ul>
                    <div class="stage-header__meta">

                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="stage-header__bg-image">
        <kx-image [imgSrc]="'../../../assets/images/kalex-consulting-stage-image.jpg'" [imgAlt]="'Kalex Consulting Background Stage Image'"></kx-image>
        <div class="stage-header__bg-overlay"></div>
    </div>
</div>
