@import '../../../../shared/utils/breakpoints/css/breakpoints.scss';
@import '../../../../shared/utils/colors/css/colors.scss';
@import '../../../../shared/utils/links/css/links.scss';
@import '../../../../shared/utils/spacings/css/spacings.scss';
@import '../../../../shared/utils/typos/css/typos.scss';

$mq-size-1400: 1400px;
$mq-size-1600: 1600px;

.stage-header {
    //border-bottom: 5px solid $kx-blue;
    position: relative;
    width: 100%;

    @media (min-width: $mq-size-m) {
        border-bottom: none;
    }

    @media (min-width: $mq-size-1400) {
        &::after {
            display: block;
            position: absolute;
            content: '';
            width: 0;
            height: 0;
            top: 0;
            right: 0;
            opacity: 0.7;
            -moz-transform: scale(0.999);
            -webkit-backface-visibility: hidden;
            border-bottom: 850px solid transparent;
            border-right: 1000px solid $kx-blue;
        }
    }

    @media (min-width: $mq-size-1600) {
        &::after {
            border-right: 1200px solid $kx-blue;
        }
    }

    @media (min-width: $mq-size-xl) {
        &::after {
            border-right: 1300px solid $kx-blue;
        }
    }
}

.stage-header__nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 90px;

    @media (min-width: $mq-size-m) {
        height: 150px;
        padding: $space-medium;
        position: relative;

    }

    @media (min-width: $mq-size-l) {
        z-index: 2;
    }
}

.stage-header__nav-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: calc(100vh - 90px);
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%);
    background: $white;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;

    .stage-header__nav-list {
        display: block;
    }

    @media (min-width: $mq-size-m) {
        display: none;
    }
}

.stage-header__link {
    @include link-base();
    color: $kx-blue-dark;

    &:hover {
        color: $kx-blue-dark;
    }

    @media (min-width: $mq-size-1400) {
        color: $white;

        &:hover {
            color: $white;
        }
    }
}

.state-stage-header__nav-mobile--open {
    transform: translateY(90px);
}

button {
    @media (min-width: $mq-size-m) {
        display: none;
    }
}

.stage-header__image {
    height: 52px;
    width: 110px;

    @media (min-width: $mq-size-m) {
        height: 105px;
        width: 220px;
    }
}

.stage-header__nav-list {
    display: none;

    @media (min-width: $mq-size-m) {
        display: flex;
    }

    @media (min-width: $mq-size-1400) {
        padding-left: 150px;
    }
}

.stage-header__nav-list-item {
    color: $kx-blue-dark;
    font-size: 25px;
    margin-bottom: $space-medium;
    margin-right: $space-super-large;

    &:last-child {
        margin-right: 0;
    }

    @media (min-width: $mq-size-m) {
        @include typo-light();
        font-size: 20px;
        margin-bottom: 0;

        &:hover {
            cursor: pointer;
        }
    }

    @media (min-width: $mq-size-1400) {
        color: $white;
    }
}

.stage-header__bg-image {
    position: relative;
    height: 250px;

    @media (min-width: $mq-size-m) {
        display: block;
        height: 700px;
        width: 100%;
    }
}

.stage-header__bg-overlay {
    background-color: $kx-blue;
    position: absolute;
    height: 100%;
    left: 0;
    opacity: 0.6;
    top: 0;
    width: 100%;

    @media (min-width: $mq-size-m) {
        display: none;
    }
}
