@import '../../../../shared/utils/breakpoints/css/breakpoints.scss';
@import '../../../../shared/utils/colors/css/colors.scss';
@import '../../../../shared/utils/spacings/css/spacings.scss';
@import '../../../../shared/utils/typos/css/typos.scss';

.adresses {

}

.adresses-wrapper {
    display: flex;
    flex-direction: column;

    @media (min-width: $mq-size-m) {
        flex-direction: row;
        justify-content: center;
    }
}

.adresses__content {
    align-items: center;
    color: $kx-blue;
    display: flex;
    font-size: 20px;
    flex-direction: column;
    margin-bottom: $space-medium-desktop;

    &:last-child {
        margin-bottom: 0;
    }

    @media (min-width: $mq-size-m) {
        align-items: flex-start;
        margin-bottom: 0;
        margin-right: $space-xx-large;

        &:last-child {
            margin-right: 0;
        }
    }
}

.adresses__name {
    @include typo-semibold();
}
