<header class="l-page-header">
    <kx-stage-header></kx-stage-header>
</header>
<section class="l-page-outer">
    <div class="container">
        <div class="l-page-inner">
            <div class="row">
                <div class="col">
                    <kx-teaser></kx-teaser>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="l-page-outer">
    <div class="container">
        <div class="l-page-inner">
            <div class="row">
                <div class="col">
                    <kx-text-image></kx-text-image>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="l-page-outer">
    <div class="container">
        <div class="l-page-inner">
            <div class="row">
                <div class="col">
                    <kx-adresses></kx-adresses>
                </div>
            </div>
        </div>
    </div>
</section>

